{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Story Editor</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
  <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'draw/index.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<body>

  <!-- Navbar -->
  <div class="w3-top">

    <div class="w3-bar w3-card" id="navBar">
      <a href="javascript:void(0)" class="w3-padding-large w3-hide-small w3-left"><i class="material-icons">folder_open</i></a>

      <!--       <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
      <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BAND</a>
      <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TOUR</a>
      <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
      <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="#" class="w3-bar-item w3-button">Merchandise</a>
          <a href="#" class="w3-bar-item w3-button">Extras</a>
          <a href="#" class="w3-bar-item w3-button">Media</a>
        </div>
      </div> -->
      <div class="center-shapes">
        <a onclick = "clickCircle()" href="javascript:void(0)" class="w3-hide-small"><i id="circle" class="material-icons">panorama_fish_eye</i></a>
        <a onclick = "clickRect()" href="javascript:void(0)" class="w3-hide-small"><i id = "rect"class="material-icons">crop_5_4</i></a>
        <a onclick = "clickTri()" href="javascript:void(0)" class="w3-hide-small"><i  id = "tri"class="material-icons">details</i></a>
      </div>

      <a href="javascript:void(0)" class="w3-padding-large w3-hide-small w3-right"><i class="material-icons">save_alt</i></a>

    </div>
  </div>

</body>
  <script>
  function clickCircle(){
    var element = document.getElementById("circle");
    var s = document.getElementById("rect");
    var t = document.getElementById("tri");
//     element.classList.toggle("clickedStyle");
    s.style.color = "white";
    t.style.color = "white";
    element.style.color = "#FF80AB";
  }
    function clickRect(){
    var element = document.getElementById("rect");
    var c = document.getElementById("circle");
    var t = document.getElementById("tri");
//     element.classList.toggle("clickedStyle");
    element.style.color = "#FF80AB";
    c.style.color = "white";
    t.style.color = "white";
  }
    function clickTri(){
    var element = document.getElementById("tri");
    var c = document.getElementById("circle");
    var s = document.getElementById("rect");
//     element.classList.toggle("clickedStyle");
    element.style.color = "#FF80AB";
    c.style.color = "white";
    s.style.color = "white";
  }
  </script>
</html>