{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="1000px" height="1000px" style="border-style: solid"></canvas>
</body>
<script>
    paper.install(window);
  
  
    window.onload = () => {
      // setting up the canvas and one paper tool
      var canvas = document.getElementById('myCanvas');
      paper.setup(canvas);
      var tool = new paper.Tool();

      // getting the URL (you may want to use for Exercise 3)
      var url = window.location.href;
      
      var ws = new WebSocket('wss://p3-websockets-bell-wu-wubell397257.codeanyapp.com/ws/draw');
      
      var user_id = makeRandomColor();
      var users = {};
          
      // https://stackoverflow.com/questions/1484506/random-color-generator
      function makeRandomColor(){
        return '#'+Math.random().toString(16).substr(-6);
      }
      
      var myPath = new Path();

      tool.onMouseMove = function(event) {
        var obj = {
          x: event.point.x,
          y: event.point.y,
          color: user_id
        }
        ws.send(JSON.stringify(obj));
        myPath.add(event.point);
        myPath.strokeColor = user_id;
      }
      
      ws.onmessage = function (msg) {
        console.log(msg);
        var newPath = JSON.parse(msg.data);
        var id = newPath.color;
        var x = newPath.x;
        var y = newPath.y;
        if (!(id in users)) {
          users[id] = new Path();
        }
        console.log(users);
        users[id].add(new Point(x, y));
        users[id].strokeColor = id;
      }


//       // triggered when receiving a message from the server
//       socket.onmessage = function(receivedMessage) {
//         // do something when you receive a message
//       };

//       // use when sending a message to the server
//       // to be broadcasted to all clients, please add a delay
//       socket.send(message);

//       // notify console if socket closes unexpectedly
//       socket.onclose = function(e) {
//           console.error('Chat socket closed unexpectedly');
//       };
    }


</script>
</html>
